<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="getAllPosts()">Get</button>
        <button class="btn btn-primary" type="button" (click)="getCommentsParams()">Get+params</button>
        <button class="btn btn-primary" type="button" (click)="postCommentsEmpty()">Post</button>
        <button class="btn btn-primary" type="button">Resolve route</button>
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="getPostsError()">Get+errors</button>
        <button class="btn btn-primary" type="button" (click)="getPostsHeaders()">Get+headers</button>
        <button class="btn btn-primary" type="button" (click)="deletePost()">Delete</button>
      </div>
    </div>
  </div>
</div>
