<div class="container">
    <h1 class="display-6 container my-5">Список книг</h1>
    <table class="table table-striped pt-10">
        <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Книга</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of booksServ.books; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
            </tr>
        </tbody>
    </table>