<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="me-auto"><a class="navbar-brand" href="/">{{logo}}</a></div>
        <div class="d-flex">
            <p class="text-light m-auto me-3">Текущая роль: {{dataServ.role}}</p>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Изменить роль
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">                                
                                <li><button class="dropdown-item" (click)="dataServ.role ='admin'" [disabled]="dataServ.role === 'admin'">Админ</button></li>
                                <li><button class="dropdown-item" (click)="dataServ.role ='user'" [disabled]="dataServ.role === 'user'">Пользователь</button></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>