<div class="container ">
    <form action="" class="mt-5 mb-3">
        <input class="form-control mb-3" type="number" placeholder="Enter the number" aria-label="default input example" name="todo" required #todo="ngModel" [(ngModel)]="todosServ.id" 
        [ngClass]="{'is-invalid': todo.invalid && (todo.dirty || todo.touched),
        'is-valid': todo.valid}" >
        <div class="d-grid gap-2 ">
            <button class="btn btn-primary" type="button" type="submit" [disabled]="todo.invalid"
            (click)="getAllTodos()">GetTodos</button>
        </div>
    </form>  
    <ul class="list-group" *ngIf="todosServ.result">
        <li *ngIf="(todosServ.result | keyvalue)?.[0] as item"  class="list-group-item">{{item.key}}: {{item.value}}</li>
        <li *ngIf="(todosServ.result | keyvalue)?.[1] as item"  class="list-group-item">{{item.key}}: {{item.value}}</li>       
        <li *ngIf="(todosServ.result | keyvalue)?.[2] as item"  class="list-group-item">{{item.key}}: {{item.value}}</li>
        <li *ngIf="(todosServ.result | keyvalue)?.[3] as item"  class="list-group-item">{{item.key}}: {{item.value}}</li>
    </ul>   
    <div class="alert alert-danger" role="alert" *ngIf="todosServ.error">
        {{todosServ.error}}
      </div> 
</div>