<div class="container ">
    <form action="" class="mt-5">
        <input class="form-control mb-3" type="number" placeholder="Enter the number" aria-label="default input example" name="todo" required #todo="ngModel" [(ngModel)]="todosServ.id" 
        [ngClass]="{'is-invalid': todo.invalid && (todo.dirty || todo.touched),
        'is-valid': todo.valid}" >
        <div class="d-grid gap-2 ">
            <button class="btn btn-primary" type="button" type="submit" [disabled]="todo.invalid"
            (click)="getAllTodos()">GetTodos</button>
        </div>
    </form>      
   <p>{{todosServ.result | json}}</p>
</div>