<p>Hello create recipe!</p>

<!-- <h2>Создание рецепта</h2>
<h4>Основная информация</h4>
<form class="row g-3 needs-validation" novalidate>
    <div class="">
        <label for="validationCustom01" class="form-label">Логин</label>
        <input type="text" class="form-control" id="validationCustom01" name="userlogin" #userlogin="ngModel"
            [(ngModel)]="user.username" [ngClass]="{
            'is-invalid': userlogin.invalid && (userlogin.dirty || userlogin.touched),
            'is-valid': userlogin.valid
        }" required>
        <div *ngIf="userlogin.invalid && (userlogin.dirty || userlogin.touched)">
            <div *ngIf="userlogin.hasError('required')" class="text-danger mt-1">
                Введите логин
            </div>
        </div>
    </div>
</form> -->