/* You can add global styles to this file, and also import other style files */
.btn-primary {
    background-color: #3A3395;
    width: 200px;
    height: 60px;
    top: 750px;
    left: 450px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;

}